/*********************
BREAKPOINTS
*********************/
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #545454;
  font-size: 16px;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #a0a0a0;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
a:hover {
  text-decoration: none;
  color: #444;
}
a:hover, a:active, a:visited, a:focus {
  text-decoration: none;
}

ul {
  padding-left: 0;
}

.section-title {
  text-align: center;
  margin-bottom: 60px;
}

.main-title {
  margin-top: 0;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 2.25em;
  font-weight: 300;
  text-transform: uppercase;
}
.main-title:after {
  content: "";
  display: block;
  height: 1px;
  width: 120px;
  margin: 15px auto 20px;
  background-color: #8dc63f;
}

[class*="-section"] {
  position: relative;
  overflow: hidden;
  padding-top: 60px;
  padding-bottom: 60px;
}

.sub-title {
  width: 80%;
  margin: 0 auto;
  font-size: 16px;
}

.section-padding {
  margin-top: 60px;
  margin-bottom: 60px;
}

.bg-img {
  padding: 0;
}
.bg-img > .content-wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
}
.bg-img > .content-wrapper.darker-overlay {
  color: #ffffff;
}

.bg-color {
  background-color: #fafafa;
}

.likipe-btn {
  padding: 15px 22px;
  background: #00a1ce;
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  display: inline-block;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.likipe-btn:hover {
  color: #ffffff;
  background-color: #1251b5;
}

.likipe-text-link {
  font-size: 1.125em;
  color: #b4b4b4;
  display: inline-block;
  position: relative;
}
.likipe-text-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #b4b4b4;
  visibility: hidden;
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -moz-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out;
  -webkit-transition-delay: 0s;
  transition: all 0.3s ease-in-out 0s;
}
.likipe-text-link:hover:before {
  visibility: visible;
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.bg-grey {
  background-color: rgba(250, 250, 250, 0.7);
}

@-moz-keyframes arrow-animation {
  0% {
    -webkit-transform: translateY(0px) rotate(45deg);
    -moz-transform: translateY(0px) rotate(45deg);
    -o-transform: translateY(0px) rotate(45deg);
    -ms-transform: translateY(0px) rotate(45deg);
    transform: translateY(0px) rotate(45deg);
  }
  100% {
    -webkit-transform: translateY(2px) rotate(45deg);
    -moz-transform: translateY(2px) rotate(45deg);
    -o-transform: translateY(2px) rotate(45deg);
    -ms-transform: translateY(2px) rotate(45deg);
    transform: translateY(2px) rotate(45deg);
  }
}
@-webkit-keyframes arrow-animation {
  0% {
    -webkit-transform: translateY(0px) rotate(45deg);
    -moz-transform: translateY(0px) rotate(45deg);
    -o-transform: translateY(0px) rotate(45deg);
    -ms-transform: translateY(0px) rotate(45deg);
    transform: translateY(0px) rotate(45deg);
  }
  100% {
    -webkit-transform: translateY(2px) rotate(45deg);
    -moz-transform: translateY(2px) rotate(45deg);
    -o-transform: translateY(2px) rotate(45deg);
    -ms-transform: translateY(2px) rotate(45deg);
    transform: translateY(2px) rotate(45deg);
  }
}
@-o-keyframes arrow-animation {
  0% {
    -webkit-transform: translateY(0px) rotate(45deg);
    -moz-transform: translateY(0px) rotate(45deg);
    -o-transform: translateY(0px) rotate(45deg);
    -ms-transform: translateY(0px) rotate(45deg);
    transform: translateY(0px) rotate(45deg);
  }
  100% {
    -webkit-transform: translateY(2px) rotate(45deg);
    -moz-transform: translateY(2px) rotate(45deg);
    -o-transform: translateY(2px) rotate(45deg);
    -ms-transform: translateY(2px) rotate(45deg);
    transform: translateY(2px) rotate(45deg);
  }
}
@keyframes sc-down-a {
  0% {
    -webkit-transform: translateY(0px) rotate(45deg);
    -moz-transform: translateY(0px) rotate(45deg);
    -o-transform: translateY(0px) rotate(45deg);
    -ms-transform: translateY(0px) rotate(45deg);
    transform: translateY(0px) rotate(45deg);
  }
  100% {
    -webkit-transform: translateY(2px) rotate(45deg);
    -moz-transform: translateY(2px) rotate(45deg);
    -o-transform: translateY(2px) rotate(45deg);
    -ms-transform: translateY(2px) rotate(45deg);
    transform: translateY(2px) rotate(45deg);
  }
}
input[type="date"], input[type="time"], input[type="datetime-local"], input[type="week"], input[type="month"],
input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"],
input[type="tel"], input[type="number"], textarea, select {
  width: 100%;
  background: transparent;
  border: 1px solid #f2f2f2;
  padding: 5px 10px;
}
input[type="date"]:focus, input[type="time"]:focus, input[type="datetime-local"]:focus, input[type="week"]:focus, input[type="month"]:focus,
input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus,
input[type="tel"]:focus, input[type="number"]:focus, textarea:focus, select:focus {
  outline: 0;
}

button, input[type="button"], input[type="reset"], input[type="submit"], .btn-submit {
  display: inline-block;
  border: 0;
  color: #ffffff;
  padding: 0.65em 0.875em;
  font-weight: bold;
  background-color: #00a1ce;
}

.gform_wrapper input[type=checkbox], .gform_wrapper input[type=radio] {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0.4375em 5px 0;
  padding: 0;
}
.gform_wrapper .gfield {
  margin-top: 16px;
  padding-top: 0;
}
.gform_wrapper .gfield_label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: normal;
}
.gform_wrapper .top_label .ginput_container {
  margin-top: 8px;
}
.gform_wrapper .gform_fields, .gform_wrapper .gfield_checkbox {
  padding: 0;
  margin: 0 !important;
  list-style-type: none;
  display: block;
}
.gform_wrapper .gfield_checkbox li, .gform_wrapper .gfield_radio li {
  position: relative;
  padding-left: 20px;
}
.gform_wrapper .gfield_checkbox input, .gform_wrapper .gfield_radio input {
  position: absolute;
  top: 2px;
  left: 0;
}
.gform_wrapper .gform_footer {
  margin: 16px 0 0;
  clear: both;
}

.gform_wrapper ul.gfield_checkbox li label, .gform_wrapper ul.gfield_radio li label {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  text-transform: uppercase;
}

/**
 * 1.0 - volvo-main-menu
 * 2.0 - volvo-sub-menu
 * 3.0 - volvo-search-frm
 * 4.0 - volvo-menu-products
 */
.logo-wrapper {
  float: left;
}

.navbar {
  padding-top: 15px;
  transition: all 0.2s ease;
}
.navbar.affix {
  width: 100%;
  padding: 5px 0;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 3px;
}
.navbar.affix .navbar-logo {
  width: 75px;
}
.navbar .navbar-logo {
  display: block;
  animation: all 2s ease-in;
}

.navbar-toggle {
  margin-right: 0px;
  margin-bottom: 0px;
  border-color: #282d33;
  border-radius: 0;
}
.navbar-toggle .icon-bar {
  background-color: #282d33;
}

.navbar-collapse {
  width: 100%;
  padding: 0;
  margin-left: 0;
}

/**
 * 1.0 - volvo-main-menu
 */
.likipe-header-section .nav > li {
  line-height: 50px;
  height: 50px;
}
.likipe-header-section .nav > li:last-child a {
  margin-right: 0;
  padding-right: 0;
}
.likipe-header-section .nav > li.active span {
  color: #8dc63f;
  border-color: #8dc63f;
}
.likipe-header-section .nav > li.active span:before {
  content: "";
}
.likipe-header-section .nav > li > a {
  display: inline-block;
  margin: 0 10px 0 5px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #404040;
  font-size: 0.875em;
  text-transform: uppercase;
}
.likipe-header-section .nav > li > a span {
  position: relative;
  display: inline-block;
  line-height: 20px;
  white-space: nowrap;
  border-bottom: 1px solid #ffffff;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.likipe-header-section .nav > li > a span::before {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 0;
  overflow: hidden;
  border-bottom: 1px solid #8dc63f;
  color: #8dc63f;
  font-weight: 700;
  text-transform: uppercase;
  content: attr(data-hover);
  transition: max-width 0.5s;
}
.likipe-header-section .nav > li > a:hover, .likipe-header-section .nav > li > a:focus, .likipe-header-section .nav > li > a:active, .likipe-header-section .nav > li > a:visited {
  background: transparent !important;
}
.likipe-header-section .nav > li:hover > a {
  background: none;
  border-color: #404040;
}
.likipe-header-section .nav > li:hover > a span:before {
  max-width: 100%;
}

/**
 * 2.0 - volvo-sub-menu
 */
.likipe-footer-share-bar {
  min-height: 68px;
  background: #f1f0ef;
  margin-top: 55px;
  padding-top: 20px;
  text-align: center;
}
.likipe-footer-share-bar > span {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  padding-right: 10px;
  top: -2px;
}
.likipe-footer-share-bar > span:before {
  content: "\f1e1";
  position: absolute;
  top: 2px;
  left: 0;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.likipe-footer-share-bar .addtoany_shortcode {
  display: inline-block;
}

.likipe-footer-content {
  background: #d8d7d5;
  overflow: hidden;
  padding: 45px 50px;
}
.likipe-footer-content ul {
  list-style: none;
  padding-left: 0px;
  margin-top: 28px;
}
.likipe-footer-content ul li {
  margin-bottom: 15px;
}
.likipe-footer-content ul li a {
  color: #3b4448;
  font-size: 14px;
}
.likipe-footer-content ul li a span {
  margin-left: 3px;
}
.likipe-footer-content .likipe-social-links i {
  margin-right: 6px;
}

.likipe-footer-nav {
  background: #000000;
}
.likipe-footer-nav ul {
  list-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto;
  display: block;
  padding-left: 0;
  text-align: center;
}
.likipe-footer-nav ul li {
  display: inline-block;
  padding: 1px 15px;
  border-right: 1px solid #282d33;
}
.likipe-footer-nav ul li:last-child {
  border-right: none;
}
.likipe-footer-nav ul li a {
  color: #282d33;
}

.likipe-footer-copyright {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #9b9c9c;
}

.likipe-header-section, .likipe-footer-section, .map-section {
  padding: 0 !important;
}

.project-section, .service-section, .process-section {
  padding-bottom: 0;
}

/**
 * 1.0 - HERO
 */
.likipe-hero-section {
  position: relative;
  overflow: hidden;
}
.likipe-hero-section .hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}
.likipe-hero-section.full-screen {
  height: calc(100vh - 84px);
  width: 100%;
}
.likipe-hero-section .hero-content {
  position: absolute;
  top: 0;
  left: 0;
  display: table;
  height: 100%;
  width: 100%;
  color: #fff;
}
.likipe-hero-section .hero-content-inner {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 0 15px;
  z-index: 5;
  color: #ffffff;
}
.likipe-hero-section .hero-content-inner h2 {
  text-transform: uppercase;
  font-size: 2em;
  margin-bottom: 30px;
}
.likipe-hero-section .hero-content-inner p {
  font-size: 1.25em;
}

.btn-scroll-down {
  width: 100px;
  height: 50px;
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 10;
  transition: display 0.5s easy-in-out;
}
.btn-scroll-down:before {
  bottom: 20px;
  width: 60px;
  height: 60px;
}
.btn-scroll-down:after {
  width: 30px;
  height: 30px;
  bottom: 35px;
  animation: arrow-animation 0.3s infinite alternate;
}
.btn-scroll-down:before, .btn-scroll-down:after {
  content: '';
  display: block;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(45deg);
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
}

/**
 * 2.0 - SERVICE
 */
.service-item {
  width: 100%;
  height: 320px;
  margin: 10px 0;
  text-align: center;
  border: 1px solid #f2f2f2;
  transition: all 0.3s ease;
}
.service-item:hover {
  border-color: #8dc63f;
}
.service-item:hover i {
  top: -30px;
}
.service-item:hover h3 {
  top: -30px;
}
.service-item:hover .service-desc {
  opacity: 1;
  transform: scale(1);
}
.service-item i {
  position: relative;
  top: 100px;
  display: inline-block;
  margin-bottom: 40px;
  padding: 10px;
  background: #ffffff;
  color: #8dc63f;
  transition: all 0.5s ease;
  font-size: 3em;
}
.service-item h3 {
  position: relative;
  top: 80px;
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.service-item .service-desc {
  margin: 0 15px;
  opacity: 0;
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: scale(0);
}

.service-tabs {
  margin-top: 50px;
}
.service-tabs .nav-tabs {
  position: relative;
  display: table-cell;
  vertical-align: top;
  width: 200px;
  height: 100%;
  border-right: 1px solid #cecece;
  box-sizing: border-box;
  border-bottom: 0;
}
.service-tabs .nav-tabs li {
  display: block;
  float: none;
  margin: 0 0 24px;
}
.service-tabs .nav-tabs li.active a {
  border-color: transparent;
  color: #8dc63f;
  border: 0;
  background-color: transparent;
}
.service-tabs .nav-tabs li:hover {
  border: 0;
}
.service-tabs .nav-tabs a {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  color: #000000;
  box-sizing: border-box;
  transition: color .2s ease-out, background-color .2s ease-out, border-color .2s ease-out;
  padding: 10px 15px 10px 0;
  border: none;
}
.service-tabs .nav-tabs a:hover {
  background: transparent;
  border-color: transparent;
  color: #8dc63f;
}
.service-tabs .tab-content {
  display: table-cell;
  vertical-align: top;
  width: calc(100% - 200px);
  height: 100%;
  padding: 0 0 0 60px;
  box-sizing: border-box;
}
.service-tabs .tabs-nav-line {
  position: absolute;
  width: 0;
  height: 0;
  right: -2px;
  opacity: 0;
  border-right: 3px solid #8dc63f;
  transition: opacity 0.2s 0.4s, height 0.3s 0.6s, top 0.4s cubic-bezier(0.19, 0.65, 0.02, 0.93);
}

/**
 * 3.0 - POST
 */
.post-item {
  width: 33.33333333%;
  margin-bottom: 30px;
  padding-right: 15px;
  padding-left: 15px;
}
.post-item .post-thumbnail {
  position: relative;
  overflow: hidden;
}
.post-item .post-thumbnail:hover .hover-link {
  opacity: 1;
}
.post-item .hover-link {
  cursor: pointer;
  display: block;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all .2s ease;
}
.post-item .hover-link i {
  top: 50%;
  left: 50%;
  margin-left: -17px;
  margin-top: -17px;
  position: absolute;
  display: block;
  color: #fff;
  text-align: center;
  height: 34px;
  width: 34px;
  line-height: 34px;
  border: 1px solid #fff;
}
.post-item .post-title {
  font-size: 1.125em;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}
.post-item .post-info {
  color: #A3A2A2;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.post-item .post-info i {
  width: 22px;
  height: 22px;
  border: 1px solid #f2f2f2;
  line-height: 20px;
  text-align: center;
  margin-right: 12px;
  font-size: 0.75em;
}
.post-item .post-content {
  padding: 0 0 15px;
  border-bottom: 1px solid #cacaca;
  overflow: hidden;
}
.post-item .more-link {
  font-size: 13px;
  font-weight: bold;
  float: right;
  color: #8dc63f;
  text-transform: uppercase;
}
.post-item .more-link:hover {
  cursor: pointer;
}

/**
 * 4.0 - TEAM
 */
.thumnail-wrapper .grayscale {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  transition: all 0.2s linear;
  margin-left: auto;
  margin-right: auto;
}
.thumnail-wrapper:hover .grayscale {
  filter: none;
  -webkit-filter: grayscale(0%);
}
.thumnail-wrapper:hover img {
  transform: scale(1.02, 1.02);
}

.team-member {
  text-align: center;
}
.team-member h4 {
  font-size: 0.875em;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 18px;
  margin-bottom: 3px;
}
.team-member h4 span {
  padding-bottom: 5px;
  border-bottom: 1px solid #8dc63f;
}
.team-member h6 {
  font-size: 0.875em;
  font-weight: 300;
  padding-bottom: 5px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.team-member > a {
  overflow: hidden;
  display: block;
}
.team-member > a:hover .grayscale {
  filter: none;
  -webkit-filter: grayscale(0%);
}
.team-member > a:hover img {
  transform: scale(1.02, 1.02);
}
.team-member .e-mail {
  color: #8dc63f;
}

.team-social {
  text-align: center;
  font-size: 0.875em;
}
.team-social a {
  padding: 9px;
  display: inline-block;
  color: #848484;
}
.team-social a:hover {
  color: #8dc63f;
}

/**
 * 5.0 - CONTACT
 */
.contact-list {
  list-style: none;
  padding-left: 0;
}
.contact-list li {
  position: relative;
  padding-left: 40px;
  margin-bottom: 30px;
}
.contact-list i {
  position: absolute;
  top: 0;
  left: 0;
  color: #282d33;
  background: #ffffff;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  margin-right: 15px;
}

#contact-frm-wrapper .gform_fields {
  margin-top: -16px !important;
  margin-left: -15px !important;
  margin-right: -15px !important;
}
#contact-frm-wrapper .gform_fields .gfield {
  width: 50%;
}
#contact-frm-wrapper button, #contact-frm-wrapper input[type="button"], #contact-frm-wrapper input[type="reset"], #contact-frm-wrapper input[type="submit"], #contact-frm-wrapper .btn-submit {
  background-color: #000000;
}

#comment-frm-wrapper .gform_fields {
  margin: 0 -15px !important;
}
#comment-frm-wrapper .gform_fields .gfield {
  width: 33.33%;
}

.gform_fields {
  overflow: hidden;
}
.gform_fields .gfield_label {
  font-size: 0;
  display: none;
}
.gform_fields .gfield {
  float: left;
  padding: 0 15px;
}
.gform_fields .gfield:last-child {
  width: 100% !important;
}

input[type="button"], input[type="reset"], input[type="submit"], .btn-submit {
  min-width: 120px;
  background-color: #8dc63f;
  float: right;
}

/**
 * 6.0 - TECHNICIAN
 */
.likipe-fancybox-wrapper {
  width: 800px;
}

.technician-list {
  list-style: none;
  padding-left: 0;
  margin-top: 30px;
}
.technician-list li {
  display: inline-block;
  margin-right: 9px;
  margin-bottom: 15px;
}
.technician-list a {
  display: inline-block;
  padding: 5px 15px;
  border: 1px solid #9b9c9c;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}
.technician-list a:hover {
  color: #ffffff;
  background-color: #8dc63f;
}

.device-slide {
  height: 265px;
  overflow: hidden;
}

/**** Animation monitor *****/
.animation {
  display: table;
  position: relative;
  width: 460px;
  height: 340px;
  margin: 0 auto;
  vertical-align: middle;
  top: -40px;
}
.animation .device {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  background: #111;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform: translate(-50%, -50%);
}
.animation .device .phone-home-button, .animation .device .tablet-home-button {
  position: absolute;
  border-radius: 50%;
  background: #444;
  opacity: 0;
  z-index: 1;
  transition: all 0.4s ease;
}
.animation .device .phone-home-button {
  width: 16px;
  height: 16px;
  margin-top: -8px;
  right: 11px;
  top: 50%;
}
.animation .device .tablet-home-button {
  width: 12px;
  height: 12px;
  margin-left: -6px;
  bottom: 7px;
  left: 50%;
}
.animation .device .screen-stand {
  position: absolute;
  width: 100%;
  margin-left: -10px;
  margin-top: -1px;
  top: 60%;
  opacity: 0;
  z-index: 1;
  transition: all 0.4s ease-out;
}
.animation .device .screen-stand .leg {
  position: absolute;
  width: 12px;
  height: 16px;
  left: 50%;
  top: 0;
  margin-left: -6px;
  background: #111;
}
.animation .device .screen-stand .foot {
  position: absolute;
  width: 120px;
  height: 4px;
  left: 50%;
  top: 15px;
  margin-left: -60px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  background: #111;
}
.animation .device .display {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #34495e;
  z-index: 3;
}
.animation .device .display div {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 100%;
  white-space: nowrap;
  transition: all 0.4s ease;
}
.animation .device .display div div {
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  margin-top: -14px;
  font-size: 1.1em;
  text-align: center;
  color: #fff;
}
.animation .device .display div div em {
  font-weight: bold;
}
.animation .device .display .slide1 {
  background: #34495e;
}
.animation .device .display .slide2 {
  background: #16a085;
}
.animation .device .display .slide3 {
  background: #3498db;
}
.animation[data-animation-step="1"] .device {
  width: 70%;
  height: 60%;
  padding: 10px;
  border-radius: 4px;
}
.animation[data-animation-step="1"] .device .slide1 {
  left: 0%;
}
.animation[data-animation-step="1"] .device .screen-stand {
  opacity: 1;
  top: 100%;
}
.animation[data-animation-step="2"] .device {
  width: 45%;
  height: 72%;
  padding: 24px;
  border-radius: 10px;
}
.animation[data-animation-step="2"] .device .slide1 {
  left: -100%;
}
.animation[data-animation-step="2"] .device .slide2 {
  left: 0%;
}
.animation[data-animation-step="2"] .device .tablet-home-button {
  opacity: 1;
}
.animation[data-animation-step="3"] .device {
  width: 54%;
  height: 38%;
  padding: 10px 36px;
  border-radius: 6px;
}
.animation[data-animation-step="3"] .device .slide1, .animation[data-animation-step="3"] .device .slide2 {
  left: -100%;
}
.animation[data-animation-step="3"] .device .slide3 {
  left: 0%;
}
.animation[data-animation-step="3"] .device .phone-home-button {
  opacity: 1;
}

/**
 * 7.0 - FOOTER
 */
.map-section a {
  display: block;
  background-color: #000000;
  font-size: 1.125em;
  color: #ffffff;
  text-align: center;
}
.map-section a span {
  margin: 30px auto;
  text-transform: uppercase;
  display: inline-block;
}
.map-section a i {
  margin-left: 15px;
}
.map-section a.show-map i:before {
  content: "\f106";
}

#likipe-google-map {
  display: none;
  height: 400px;
  overflow: hidden;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}

.likipe-copyright {
  text-align: center;
  padding: 15px;
}

/**
 * 7.0 - PROCESS
 */
.process-wrapper {
  margin-top: 60px;
}

.likipe-progress-bar {
  margin-bottom: 20px;
}
.likipe-progress-bar .title-holder {
  position: relative;
  margin-bottom: 5px;
}
.likipe-progress-bar .title-holder .title {
  font-weight: bold;
  z-index: 100;
}
.likipe-progress-bar .percent {
  position: absolute;
  left: 0;
  bottom: 1px;
  width: 40px;
  font-size: 12px;
  text-align: center;
  opacity: 0;
  z-index: 100;
  color: #ffffff;
  background: #8dc63f;
  border: 4px solid #8dc63f;
  border-radius: 4px;
}
.likipe-progress-bar .percent.active {
  transform: translateX(-100%);
}
.likipe-progress-bar .percent:after {
  content: "%";
}
.likipe-progress-bar .percent:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-width: 5px;
  border-style: solid;
  border-color: #8dc63f transparent transparent transparent;
  top: 22px;
  left: 12px;
}
.likipe-progress-bar .content-holder {
  position: relative;
  height: 10px;
  overflow: hidden;
  background-color: #f2f2f2;
}
.likipe-progress-bar .content-holder .content {
  width: 0;
  height: 10px;
  max-width: 100%;
  overflow: hidden;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: #8dc63f;
}

.testimonial-wrapper {
  margin-top: 50px;
}

.testimonial-item {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
.testimonial-item .testimonial-txt {
  font-size: 28px;
  font-weight: 300;
}
.testimonial-item .testimonial-name {
  color: #8dc63f;
}

/**
 * 8.0 - PROJECT
 */
#filters {
  list-style: none;
  text-align: center;
  margin: 0 auto 30px;
}
#filters li {
  display: inline-block;
  padding: 0;
}
#filters li.active {
  border: 1px solid #8dc63f;
}
#filters a {
  display: inline-block;
  margin: 0 2px;
  padding: 6px 12px;
  text-align: center;
}

.project-grid {
  list-style: none;
}
.project-grid li {
  float: left;
  overflow: hidden;
  background: #fff;
  padding: 0;
}
.project-grid li:hover .overlay-hover {
  opacity: 1;
}
.project-grid .overlay-hover {
  cursor: pointer;
  display: block;
  opacity: 0;
  position: absolute;
  z-index: 9;
  width: 100%;
  height: 100%;
  text-align: left;
  color: #ffffff;
  padding: 0 15px;
  background: rgba(0, 0, 0, 0.3);
  transition: all 0.2s linear;
}
.project-grid .overlay-hover h3 {
  font-weight: 300;
  font-size: 1.125em;
  line-height: 36px;
  text-transform: uppercase;
  display: inline-block;
  padding: 4px 10px;
  border: 1px solid #ffffff;
}
.project-grid .overlay-hover span {
  font-size: 11px;
  text-transform: uppercase;
  position: absolute;
  left: 15px;
  bottom: 15px;
  font-weight: bold;
}

/**
 * 9.0 - BLOG DETAIL
 */
.blog-bg {
  max-height: 250px;
  overflow: hidden;
}

.blog-bg img {
  width: 100%;
  height: auto;
}

.post-header {
  position: relative;
  z-index: 9;
  margin-top: -25px;
  margin-bottom: 15px;
  background-color: #f8f8f8;
}
.post-header:before {
  content: "";
  position: absolute;
  top: -40px;
  left: 0;
  right: 40px;
  height: 40px;
  background-color: #f8f8f8;
  z-index: 1;
}
.post-header:after {
  content: "";
  position: absolute;
  top: -40px;
  right: 0;
  border-width: 0 40px 40px 0;
  border-style: solid;
  border-color: #e0e0e0 transparent;
  z-index: 1;
}
.post-header img {
  width: 100%;
}

.blog-detail-wrapper .post-title {
  padding: 0 30px 40px;
  text-transform: uppercase;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}
.blog-detail-wrapper .post-info {
  padding: 15px 30px;
}
.blog-detail-wrapper .post-info span:after {
  content: "\00b7";
  padding: 0 8px;
}
.blog-detail-wrapper .post-info span:last-child:after {
  content: "";
}
.blog-detail-wrapper .post-info i {
  width: 22px;
  border: 1px solid #ccc;
  height: 22px;
  line-height: 20px;
  text-align: center;
  margin-right: 12px;
  color: #686868;
}
.blog-detail-wrapper .post-info .author {
  color: #8dc63f;
}

.sidebar-wrapper {
  padding-top: 15px;
}
.sidebar-wrapper .archive-list {
  list-style: none;
}
.sidebar-wrapper .archive-list li {
  padding: 5px 0;
}

.sidebar-post {
  border-bottom: 1px solid #efefef;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.sidebar-post .comment {
  color: #8dc63f;
}
.sidebar-post:last-child {
  border: none;
}

.post-footer {
  margin-top: 30px;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
}
.post-footer h6 {
  float: left;
  margin-right: 20px;
  font-size: 16px;
  line-height: 24px;
}
.post-footer a {
  font-size: 18px;
  color: #ddd;
  display: inline-block;
  margin-right: 30px;
  margin-top: 8px;
}
.post-footer a:hover {
  color: #8dc63f;
}

.related-post > div {
  width: 50%;
  padding: 13px 0;
}
.related-post .prev-post {
  float: left;
}
.related-post .prev-post i {
  margin-right: 10px;
}
.related-post .next-post {
  text-align: right;
  float: right;
}
.related-post .next-post i {
  margin-left: 10px;
}

.comment-wrapper {
  overflow: hidden;
  margin-bottom: 60px;
}

blockquote {
  border-left: 2px solid #ebebeb;
  color: #787878;
  font-size: 16px;
  font-style: italic;
  line-height: 24px;
  margin: 20px 50px;
  padding: 0 0 5px 15px;
}

pre, code {
  background-color: #F5F5F5;
  border-color: #ebebeb;
  border-style: solid;
  border-width: 0px 0px 0px 4px;
  font-size: 14px;
  padding: 10px;
  border-radius: 0;
}

input:focus, textarea:focus {
  border-color: #000000;
}

/**
 * 10.0 - PROJECT DETAIL
 */
.owl-carousel {
  position: relative;
}
.owl-carousel .owl-nav {
  text-indent: -9999px;
}
.owl-carousel .owl-nav > div {
  position: absolute;
  top: 50%;
  width: 45px;
  height: 45px;
  margin-top: -22px;
}
.owl-carousel .owl-nav i {
  width: 19px;
  height: 37px;
  position: absolute;
  left: 12px;
  top: 4px;
}
.owl-carousel .owl-prev {
  left: -10%;
}
.owl-carousel .owl-next {
  right: -10%;
}
.owl-carousel .owl-dots {
  text-align: center;
}
.owl-carousel .owl-dot {
  background: transparent;
  border: 1px solid #D7D7D7;
  width: 28px;
  height: 6px;
  display: inline-block;
  margin: 0 2px;
}
.owl-carousel .owl-dot.active {
  background: #D7D7D7;
}
.owl-carousel .icon-prev {
  background: url(../images/testimonials-arrows.png) no-repeat scroll 0 0;
}
.owl-carousel .icon-next {
  background: url(../images/testimonials-arrows.png) no-repeat scroll -19px 0;
}

.project-carousel .owl-carousel {
  display: block;
}
.project-carousel .owl-carousel:hover .owl-nav > div {
  transform: translateX(0);
  opacity: 1;
}
.project-carousel .owl-nav {
  text-indent: -9999px;
}
.project-carousel .owl-nav > div {
  background-color: rgba(238, 238, 238, 0.9);
  opacity: 0;
  transition: .2s all ease-out;
}
.project-carousel .owl-prev {
  left: 30px;
  transform: translateX(30px);
}
.project-carousel .owl-next {
  right: 30px;
  transform: translateX(-30px);
}
.project-carousel .main-carousel {
  margin-bottom: 30px;
}
.project-carousel .thumbs-carousel .owl-item {
  border: 1px solid #d9d9d9;
}
.project-carousel .owl-item.current-thumbnail .grayscale-img {
  filter: none;
  -webkit-filter: grayscale(0%);
}

.project-detail-section {
  border-top: 1px solid #f2f2f2;
}
.project-detail-section h1 {
  text-transform: uppercase;
  margin-top: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 2.25em;
  font-weight: 300;
}
.project-detail-section h2 {
  border-left: 5px solid #8dc63f;
  padding-left: 15px;
  line-height: .85em;
  font-size: 1.125em;
  margin-top: 60px;
}
.project-detail-section h2:first-of-type {
  margin-top: 30px;
}
.project-detail-section .btn-outline {
  float: right;
}

.project-info {
  list-style: none;
  color: #a0a0a0;
}
.project-info li {
  padding: 10px 0;
  border-bottom: 1px solid #f2f2f2;
}
.project-info li strong {
  color: #000000;
  font-weight: normal;
}
.project-info li:last-child {
  border: none;
}

.addition-info {
  list-style: none;
  background-color: #8dc63f;
  overflow: hidden;
  padding: 5px 0;
}
.addition-info li {
  color: #ffffff;
  float: left;
  width: 20%;
  text-align: center;
  border-right: 1px solid #f2f2f2;
  font-size: 24px;
}
.addition-info li:last-of-type {
  border: none;
}
.addition-info .fa-mobile {
  font-size: 34px;
}

.btn-outline {
  display: block;
  text-transform: uppercase;
  min-width: 120px;
  padding: 5px 10px;
  border: 1px solid #8dc63f;
}
.btn-outline i {
  margin-right: 10px;
}

.grayscale-img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  transition: all 0.2s linear;
}
.grayscale-img:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}

/*==========  Mobile First Method / Bootstrap 3 Media Queries ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
@media only screen and (max-width: 767px) {
  blockquote {
    margin: 20px 30px;
  }

  [class*="-section"] {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .project-detail-section h1 {
    margin-top: 30px;
  }

  .comment-wrapper {
    margin-bottom: 30px;
  }

  .navbar-collapse {
    margin-left: 0 !important;
  }

  .navbar-logo {
    width: 75px;
  }

  .navbar.affix {
    position: static;
    box-shadow: none;
  }

  .navbar-nav {
    margin: 0;
  }

  .likipe-header-section .nav > li {
    border-bottom: 1px solid #eee;
  }
  .likipe-header-section .nav > li > a {
    padding: 0;
  }

  .main-title {
    font-size: 1.5em;
  }

  .testimonial-item .testimonial-txt {
    font-size: 1.125em;
  }

  .service-item {
    margin-bottom: 30px;
    border-color: #8dc63f;
  }
  .service-item i {
    top: -30px;
  }
  .service-item h3 {
    top: -30px;
  }
  .service-item .service-desc {
    opacity: 1;
    transform: scale(1);
  }

  .service-tabs {
    margin-top: 30px;
  }
  .service-tabs .nav-tabs {
    display: block;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    border-right: none;
    border-bottom: 1px solid #cecece;
    margin-bottom: 15px;
    margin-top: -15px;
  }
  .service-tabs .nav-tabs li {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 0;
  }
  .service-tabs .nav-tabs li.active a:after {
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #8dc63f;
  }
  .service-tabs .nav-tabs a {
    padding-right: 0;
    position: relative;
  }
  .service-tabs .tabs-nav-line {
    display: none !important;
  }
  .service-tabs .tab-content {
    width: 100%;
    padding-left: 0;
  }
  .service-tabs .tab-content > .tab-pane {
    min-height: 300px;
  }

  .animation {
    width: 100%;
  }

  .post-footer a {
    margin-bottom: 10px;
  }

  .gform_fields .gfield {
    width: 100% !important;
  }
}
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .navbar {
    margin-bottom: 15px;
  }

  .likipe-header-section .nav {
    float: right;
  }
  .likipe-header-section .nav > li {
    background: url(../images/nav-bg.png) no-repeat right center;
  }
  .likipe-header-section .nav > li:last-child {
    background: none;
  }
  .likipe-header-section .nav > li > a {
    padding: 10px 15px;
  }

  .likipe-hero-section.full-screen {
    height: calc(100vh - 105px);
  }

  .likipe-hero-section .hero-content-inner h2 {
    font-size: 3em;
  }
}
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .likipe-header-section {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
  }

  .likipe-content-wrapper {
    margin-top: 100px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar.affix {
    position: static !important;
    box-shadow: none;
  }

  .navbar {
    border-radius: 0;
  }
  .navbar.affix .navbar-toggle {
    margin-top: 5px;
  }

  .navbar-toggle {
    display: block;
    margin-top: 15px;
  }

  .navbar-collapse.collapse {
    display: none !important;
  }

  .navbar-collapse.in {
    display: block !important;
  }

  .likipe-header-section .nav > li > a {
    font-size: 12px;
    padding: 5px 10px;
  }

  .service-item h3 {
    font-size: 18px;
  }
  .service-item:hover h3 {
    top: -80px;
  }
  .service-item:hover .service-desc {
    top: -80px;
    position: relative;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .likipe-header-section .nav > li > a {
    padding: 10px;
  }
}
/* Large Devices, Wide Screens */

/*# sourceMappingURL=style.css.map */
